<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Green Metrics</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="header">
        <img src="{{ url_for('static', filename='logo.png') }}" alt="logo" class="logo">
        <h1>"Your Environment Buddy"</h1>
    </div>
    <div class="content">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d250592.2455357074!2d-74.25987507441943!3d40.69767000571747!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c3c8e6c3d97803%3A0x5058ea3f9e0dd0c4!2sNew%20York%2C%20NY%2C%20USA!5e0!3m2!1sen!2sin!4v1646398454972!5m2!1sen!2sin" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        <button onclick="calculateGreenScore()">Calculate Green Score</button>
        <div id="result"></div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
